*,
::before,
::after {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 1rem 0;
    font-family: 'Arimo', sans-serif;
    background-color: #FCF9F3;
    /* background-color: #F5F5F5; */
    /* max-width: 1400px; */
}

/* header {
    background: url("../images/nursery2.jpeg") no-repeat center center;
} */

header>img {
    display: block;
    margin: 1rem auto;
    max-width: 200px;
    height: auto;
}

h1 {
    color: #F8F3E7;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    color: #26877F;
    /* color: #018342; */
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

p {
    /* font-family: 'Arimo', sans-serif; */
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
}

a,
a:link,
a:visited {
    color: #b53333;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
}

a:hover,
a:active {
    color: #541111;
    text-decoration: underline;
}

nav ul {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 2rem 5%;
    /* border-top: thin solid #b53333; */
    /* padding-bottom: 0.5rem; */
    /* border-bottom: thin solid #b53333; */
}

nav li {
    /* display: inline-block; */
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    flex: 1;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 5%;
    gap: 2rem;
    justify-content: center;
}

article {
    flex: 1;
}

/* Media query to stack content on smaller screens */
@media screen and (max-width: 992px) {
    article {
        flex: 100%;
    }
}

article>img {
    display: block;
    margin: 0 auto 1rem auto;
    width: 100%;
    height: auto;
    /* min-width: 350px; */
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.banner {
    /* color: #fff; */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/plants.jpeg") no-repeat center center;
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/plants.jpeg") no-repeat center center fixed; */
    /* background-size: cover; */
    background-color: rgba(38, 135, 127, 0.5);
    border-radius: 10px;
    padding: 2rem;
}

.banner p {
    color:#F8F3E7;
}

.cards p {
    color: #0d433e;
    margin-bottom: 0.5rem;
}   

.cards a {
    font-size: 1.2rem;
    text-decoration: underline;
}

footer {
    display: flex;
    border-top: 2px solid #D3D3D3;
    padding-top: 1.5rem;
    margin: 3rem 5%;
}

footer div {
    flex: 1;
    /* padding: 0.5rem 0; */
}

footer img {
    max-width: 50px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.copyright {
    /* border-top: thin solid #b53333; */
    /* padding-top: 1.5rem; */
    text-align: right;
    color: #b53333;
}